<h2 class="text-yellow-300 pt-20 text-2xl font-bold text-center ">Contact Me</h2>
<div class="grid grid-cols-1 md:grid md:grid-cols-2 lg:grid-cols-4 m-4 gap-6 mt-24">
  <div class="animate text-center ">
    <i class="fa-brands fa-whatsapp  text-6xl mb-5 block " style="color: #FFD43B;"></i>
    <p class=" font-semibold text-xl text-gray-700 pb-3  ">WhatsApp</p>
    <a target="_blank"  href="https://api.whatsapp.com/send/?phone=%2B201200101503&text&type=phone_number&app_absent=0" class=" font-semibold text-lg  text-gray-500  hover:text-2xl duration-500 " >01200101503</a>
  </div>
  <div class="animate text-center ">
    <i class="fa-solid fa-envelope  text-6xl mb-5 block" style="color: #FFD43B;"></i>
    <p class=" font-semibold text-xl text-gray-700 pb-3  ">Gmail</p>
    <a target="_blank"  href="mailto:yasmeenhifny@gmail.com " class=" font-semibold text-lg  text-gray-500  hover:text-2xl duration-500 " >yasmeenhifny&#64;gmail.com</a>
  </div>
  <div class="animate text-center ">
    <i class="fa-brands fa-github  text-6xl mb-5 block" style="color: #FFD43B;"></i>
    <p class=" font-semibold text-xl text-gray-700 pb-3  ">GitHub</p>
    <a target="_blank" href="https://github.com/yasmenRefay" class=" font-semibold text-lg text-gray-500  hover:text-2xl duration-500 " >github.com/yasmenRefay</a>
  </div>
  <div class="animate text-center ">
    <i class="fa-brands fa-linkedin  text-6xl mb-5 block" style="color: #FFD43B;"></i>
    <p class=" font-semibold text-xl text-gray-700 pb-3  ">LinkedIn</p>
    <a target="_blank" href="https://www.linkedin.com/in/yasmeen-refay-90045b187/" class=" font-semibold text-lg  text-gray-500  hover:text-2xl duration-500 " >linkedin.com/in/yasmeen</a>
  </div>
</div>

<!-- <a target="_blank"  href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=jrjtXLDRpGqrrRtxwbNnLLlnMMkMQMFvKDKNtcWMttwlDfqKPMgKmHngsCwKNSzdcGTzGTDx" class=" font-semibold text-lg  text-gray-500  hover:text-2xl  " >yasmeenhifny&#64;gmail.com</a> -->
<!-- <a target="_blank"  href="https://api.whatsapp.com/send/?phone=%2B201200101503&text&type=phone_number&app_absent=0" class=" font-semibold text-lg  text-gray-500  hover:text-2xl  " >01200101503</a> -->



