<h2 class="text-yellow-300 pt-20 text-2xl font-bold text-center ">About Me</h2>
<p class="text-xl pt-4">I'm <span class="text-yellow-400">Yasmeen Refay </span>, I enjoy solving complex problems and learning new skills. I am passionate about creating high-quality code that follows best practices and industry standards. I am always looking for new challenges and opportunities to grow as a developer.</p>
<p class="text-xl py-4">I originally majored in geology, I found myself drawn to programming as I
  witnessed the rapid digital transformation around us. I realized that I
  wanted to be an active participant in this exciting evolution. Embracing
  programming has allowed me to blend my scientific expertise with innovative technology,
  positioning me to contribute meaningfully to this dynamic field, , Finance, I always prefer
  to learning and increasing my understanding and my practical and intellectual experience,
  Furthermore. I always work on my skills aiming to never stop learning, growing and stepping
  into new opportunities and challenges. I usually spend my time wondering what the next thing
  I can challenge myself to do could be.</p>
  <table style="width:70%">
    <tbody>
      <tr>
        <td class="text-xl font-bold">Date of birth :</td>
        <td>10-9-1996</td>
      </tr>
      <tr>
        <td class="text-xl font-bold">Age:</td>
        <td>28 years</td>
      </tr>
      <tr>
        <td class="text-xl font-bold">Address:</td>
        <td>Alexandria / Egypt</td>
      </tr>
      <tr>
        <td class="text-xl font-bold">Phone:</td>
        <td>01200101503</td>
      </tr>
    </tbody>
  </table>



<!-- Certificate -->
<h2 class="text-yellow-400 pt-10 text-lg font-bold ">Certificate</h2>
<div class="p-4">
  <span>01/2024</span>
  <p class="text-lg font-semibold">FrontEnd Development diploma from Route. </p>
</div>

<!-- Education -->
<h2 class="text-yellow-400 pt-10 text-lg font-bold ">Education</h2>
<div class="p-4">
  <span> 07/2014 - 07/2018 </span>
  <p class="text-lg font-semibold">
    Bachelor of Science , Department of Geology and
    Chemistry , Alexandria University.
  </p>
</div>



<button class="rounded-xl m-auto block bg-yellow-400 py-4 px-7  my-4 text-sm font-semibold uppercase text-white hover:bg-transparent hover:shadow-lg hover:text-black " #show>
  skills
</button>

@defer ( on viewport (show) )
{
  <app-skills></app-skills>
}

























