<section class="grid grid-cols-1 md:grid md:grid-cols-2">
  <div class="px-5">
    <h2 class="text-yellow-300 pt-20 text-lg font-bold  "> Front End Developer </h2>
    <p class="font-serif text-4xl dark:text-white pt-5 mt-2">
      Hi there, I'm Yasmeen Refay, a Frontend Developer specializing in Angular 2+, React.js, and Ionic frameworks.
    </p>
    <div class="pt-5">
      <button class=" bg-yellow-300 py-4 px-7  my-4 text-sm font-semibold uppercase text-white hover:bg-transparent hover:shadow-lg hover:text-black " (click)="navigateToOtherPage()" > More About Me <i class="fa-solid fa-arrow-right"></i> </button>
      <button  (click)="onDownload()" class="  py-4 px-7 mx-1 my-4 text-sm font-semibold uppercase  shadow-lg hover:bg-yellow-300 hover:shadow-none hover:text-white">
        Download cv
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div>
    <img src="./assets/img/user2.png" alt="my-photo" class="my-8" />
  </div>
</section>
<footer>
  <div class="text-gray-400 p-4 mt-14">
    © 2024 Angular & Tailwind CSS Portfolio.yasmeen Refay
  </div>
</footer>

