<p class="font-bold text-4xl text-center pt-24 ">What I Do? </p>
<div class="grid grid-cols-1 md:grid md:grid-cols-2 lg:grid-cols-3 m-4 gap-6">
  <!-- one  -->
  <div class="group shadow-md p-3 bg-slate-50 hover:text-white hover:bg-yellow-400 ease-in duration-300 ">
    <h2 class="font-semibold text-xl text-center text-yellow-400 group-hover:text-white ">Coding and Development</h2>
    <div class="p-5 text-gray-500 group-hover:text-white">
      <ul style="list-style-type:circle;">
        <li>Write clean, maintainable HTML, CSS, and JavaScript.</li>
        <li>Utilize frameworks and libraries like Angular for dynamic content.</li>
      </ul>
    </div>
  </div>
  <!-- two -->
  <div class="group shadow-md p-3 bg-slate-50 hover:text-white hover:bg-yellow-400 ease-in duration-300 ">
    <h2 class="font-semibold text-xl text-center text-yellow-400 group-hover:text-white ">UI/UX Design Implementation</h2>
    <div class="p-5 text-gray-500 group-hover:text-white">
      <ul style="list-style-type:circle;">
        <li>Translate design mockups into responsive and interactive web pages.</li>
        <li>Ensure the design is user-friendly and accessible.</li>
      </ul>
    </div>
  </div>
  <!-- three  -->
  <div class="group shadow-md p-3 bg-slate-50 hover:text-white hover:bg-yellow-400 ease-in duration-300 ">
    <h2 class="font-semibold text-xl text-center text-yellow-400 group-hover:text-white ">Responsive Design</h2>
    <div class="p-5 text-gray-500 group-hover:text-white">
      <ul style="list-style-type:circle;">
        <li>Implement designs that work seamlessly across various devices and screen sizes.</li>
        <li>Use media queries and flexible layouts to ensure usability.</li>
      </ul>
    </div>
  </div>
  <!-- four  -->
  <div class="group shadow-md p-3 bg-slate-50 hover:text-white hover:bg-yellow-400 ease-in duration-300 ">
    <h2 class="font-semibold text-xl text-center text-yellow-400 group-hover:text-white ">Performance Optimization
    </h2>
    <div class="p-5 text-gray-500 group-hover:text-white">
      <ul style="list-style-type:circle;">
        <li>Optimize assets (images, scripts) for faster loading times.</li>
        <li>Implement best practices for performance to enhance user experience.</li>
      </ul>
    </div>
  </div>
  <!-- five  -->
  <div class="group shadow-md p-3 bg-slate-50 hover:text-white hover:bg-yellow-400 ease-in duration-300 ">
    <h2 class="font-semibold text-xl text-center text-yellow-400 group-hover:text-white ">Version Control and Collaboration</h2>
    <div class="p-5 text-gray-500 group-hover:text-white">
      <ul style="list-style-type:circle;">
        <li>Use tools like Git for version control to manage code changes.</li>
        <li>Collaborate with designers, backend developers, and stakeholders throughout the development process.</li>
      </ul>
    </div>
  </div>
  <!-- six  -->
  <div class="group shadow-md p-3 bg-slate-50 hover:text-white hover:bg-yellow-400 ease-in duration-300 ">
    <h2 class="font-semibold text-xl text-center text-yellow-400 group-hover:text-white ">SEO Best Practices</h2>
    <div class="p-5 text-gray-500 group-hover:text-white">
      <ul style="list-style-type:circle;">
        <li>Implement basic SEO principles to improve site visibility.</li>
        <li>Structure content and metadata for better search engine indexing.</li>
      </ul>
    </div>
  </div>


</div>




