<!-- lazy loading  -->
<p class=" head font-semibold pt-4 text-5xl text-center ">My Skills </p>

<!-- first line -->
<div class="flex justify-around mt-5 head  " >
  <!-- one -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">HTML5</div>
      <div class="mb-1 text-base font-medium dark:text-white ">95%</div>
    </div>

      <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 95%"></div>
      </div>
  </div>


  <!-- two -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">Javascript</div>
      <div class="mb-1 text-base font-medium dark:text-white ">80%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 80%"></div>
    </div>
  </div>

  <!-- three -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
    <div class="mb-1 text-base font-medium dark:text-white ">CSS3</div>
    <div class="mb-1 text-base font-medium dark:text-white ">90%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 90%"></div>
    </div>
  </div>
</div>


<!-- secound line -->
<div class="flex justify-around head  ">
  <!-- one -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">E-Commerce</div>
      <div class="mb-1 text-base font-medium dark:text-white ">90%</div>
    </div>

      <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 90%"></div>
      </div>
  </div>


  <!-- two -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">Tailwind CSS</div>
      <div class="mb-1 text-base font-medium dark:text-white ">90%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 90%"></div>
    </div>
  </div>

  <!-- three -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
    <div class="mb-1 text-base font-medium dark:text-white ">Angular</div>
    <div class="mb-1 text-base font-medium dark:text-white ">80%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 80%"></div>
    </div>
  </div>
</div>

<!-- third line -->
<div class="flex justify-around head  ">
  <!-- one -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">SEO</div>
      <div class="mb-1 text-base font-medium dark:text-white ">60%</div>
    </div>

      <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 60%"></div>
      </div>
  </div>


  <!-- two -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">Figma</div>
      <div class="mb-1 text-base font-medium dark:text-white ">80%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 80%"></div>
    </div>
  </div>

  <!-- three -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
    <div class="mb-1 text-base font-medium dark:text-white ">Problem Solving</div>
    <div class="mb-1 text-base font-medium dark:text-white ">70%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 70%"></div>
    </div>
  </div>
</div>


<!-- fourth line -->
<div class="flex justify-around mb-20 head  ">
  <!-- one -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">OOP</div>
      <div class="mb-1 text-base font-medium dark:text-white ">60%</div>
    </div>

      <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 60%"></div>
      </div>
  </div>


  <!-- two -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
      <div class="mb-1 text-base font-medium dark:text-white ">JQuery</div>
      <div class="mb-1 text-base font-medium dark:text-white ">70%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 70%"></div>
    </div>
  </div>

  <!-- three -->
  <div class="w-[30%]">
    <div class="flex justify-between px-4 ">
    <div class="mb-1 text-base font-medium dark:text-white ">Git and GitHub</div>
    <div class="mb-1 text-base font-medium dark:text-white ">65%</div>
    </div>

    <div class=" w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
      <div class="bg-yellow-400 h-2.5 rounded-full dark:bg-yellow-400" style="width: 65%"></div>
    </div>
  </div>
</div>



