<h2 class="text-yellow-300 pt-20 text-2xl font-bold text-center ">Maintenance App Details</h2>
<p class="text-xl py-4">This Fuel Station Maintenance App, developed for Sapetrol Company, is a comprehensive solution designed for managing and monitoring the operations of a fuel station. Built using React and Ionic, the application seamlessly integrates with an API to handle tasks such as uploading images and videos, which are then accessible on an admin dashboard. It features a login system, various operational pages, and real-time reporting capabilities.</p>
<div class="grid grid-cols-1 md:grid md:grid-cols-2 lg:grid-cols-2 m-4 gap-6 mt-24">
  <div class="animate text-center ">
    <img src="../../../assets/img/sapetrol1.png" alt="about-website" />
  </div>
  <div class="animate text-center ">
    <img src="../../../assets/img/sapetrol2.png" alt="about-website" />
  </div>
</div>
<h3 class="text-yellow-300 py-5 text-2xl font-bold ">Accomplishments</h3>
<div class="px-4 pb-3">
  <ul class="list-disc">
    <li> <span class="font-bold">API Integration:</span> Enabled efficient communication with the server for data exchange and media uploads.</li>
    <li> <span class="font-bold">Media Uploads:</span> Implemented functionality for users to upload images and videos directly to the API.</li>
    <li> <span class="font-bold">Admin Dashboard:</span> Provided comprehensive access to maintenance reports and media for streamlined management.</li>
    <li> <span class="font-bold">Authentication:</span> Built a secure login page for user access control.</li>
    <li> <span class="font-bold">Multi-Page Design:</span> Developed multiple operational pages tailored to specific maintenance and inspection needs.</li>
    <li> <span class="font-bold">User-Friendly Interface:</span> Leveraged React Ionic to deliver a responsive and intuitive UI.</li>
  </ul>
</div>

