<h2 class="text-yellow-300 pt-20 text-2xl font-bold text-center ">Booking Website Details</h2>
<p class="text-xl py-4">A comprehensive ticket booking website consisting of 15 pages, designed to facilitate event ticket reservations. The platform includes an admin dashboard for full control, a login page for secure access, and features such as daily reports, shifts management, discounts, and coupon tracking. The website supports both light and dark modes for user customization. Developed using HTML, CSS, and Bootstrap for a responsive and user-friendly design.</p>
<div class="grid grid-cols-1 md:grid md:grid-cols-2 lg:grid-cols-4 m-4 gap-6 mt-24">
  <div class="animate text-center ">
    <img src="../../../assets/img/golden Developer 2.png" alt="about-website" />
  </div>
  <div class="animate text-center ">
    <img src="../../../assets/img/golden Developer 5.png" alt="about-website" />
  </div>
  <div class="animate text-center ">
    <img src="../../../assets/img/golden Developer6.png" alt="about-website" />
  </div>
  <div class="animate text-center ">
    <img src="../../../assets/img/golgen Developer.png" alt="about-website" />
  </div>
</div>
<h3 class="text-yellow-300 py-5 text-2xl font-bold ">Accomplishments</h3>
<div class="px-4 pb-3">
  <ul class="list-disc">
    <li> Designed and implemented a responsive 15-page website optimized for seamless user experience.</li>
    <li>Developed a feature-rich admin dashboard for event and user management.</li>
    <li>Integrated daily report generation and shift management functionality.</li>
    <li>Added advanced features like discount handling and coupon management.</li>
    <li>Ensured a dynamic user interface with light and dark mode options.</li>
    <li>Built the project using clean, modular HTML, CSS, and Bootstrap for maintainability and scalability.</li>
  </ul>
</div>
